@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

html {
  height: 100%;
}

body {
  background: linear-gradient(270deg, #10236d, #b21f1f, #eda917);
  background-size: 600% 600%;
  animation: gradient 15s ease infinite;
  margin: 0;
  min-height: 100%;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.75);
  z-index: 1000;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 10px;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a:hover {
  color: #fdbb2d;
  text-decoration: overline;
  transition: color 0.3s, text-decoration 0.3s;
}

.content {
  padding: 50px;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  background: rgba(0, 0, 0, 0.30);
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

h1, h2 {
  color: white;
  text-decoration: underline;
  
}

p, a {
  color: white;
}

footer {
  background: rgba(0, 0, 0, 0.75);
  padding: 10px;
  text-align: center;
  color: white;
}


/* This is the Typing Text animation Code*/
.typing-text {
  overflow: hidden;
  border-right: 0.15em solid #000;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15em;
}

.typing {
  animation: typing 1s steps(30, end) forwards;

}

@keyframes typing {
  from {
      width: 0;
  }
  to {
      width: 100%;
  }
}
