@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

html {
  height: 100%;
}

body {
  background: linear-gradient(270deg, #10236d, #b21f1f, #eda917);
  background-size: 600% 600%;
  animation: gradient 15s ease infinite;
  margin: 0;
  min-height: 100%;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.75);
  z-index: 1000;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 14px;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a:hover {
  color: #fdbb2d;
  text-decoration: overline;
  transition: color 0.3s, text-decoration 0.3s;
}

.content {
  padding: 50px;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  background: rgba(0, 0, 0, 0.30);
  border-radius: 22px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

h1, h2 {
  color: white;
  text-decoration: underline;
  font-size: 24px;
  
}

h3 {
  color: white;
  text-decoration: underline;
  font-size: 19px;
  
}

p, a {
  color: white;
  font-size: 18px;
}

footer {
  background: rgba(0, 0, 0, 0.75);
  padding: 10px;
  text-align: center;
  color: white;
}


/* This is the Typing Text animation Code*/
.typing-text {
  overflow: hidden;
  border-right: 0.15em solid #000;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15em;
}

.typing {
  animation: typing 2s steps(30, end) 0.1s forwards;

}

@keyframes typing {
  from {
      width: 0;
  }
  to {
      width: 100%;
  }
}


/* Text box CSS code*/

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form div {
  margin-bottom: 10px;
}

input, textarea {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  padding: 5px;
  width: 100%;
  max-width: 500px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

textarea {
  resize: none;
}

button {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  padding: 10px 20px;
  background-color: #eda917;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #fdbb2d;
}


.scroll-button {
  background-color: #fdbb2d;
  border: none;
  color: white;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.scroll-button:hover {
  background-color: #eda917;
}


/* Code for project linking and thumbnail goes here*/

.project-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project {
  margin: 20px;
  display: flex;
  align-items: center;
}

.project a img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
  margin-right: 20px;
}

.project-description {
  max-width: 300px;
}

.project-description h3 {
  margin: 0;
  margin-bottom: 10px;
}
